body{
    background-color: rgb(121, 7, 7);
    text-align: center;
    font-style: italic;
    font-family: 'Open Sans';
    
}

header{
    font-size: 20px;
}

h2 {
    display: 20px;
    margin-bottom: 30px;
    
}
li{
    font-size: 30px;
}
p{
    font-style: italic;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}
h6{
    margin-top: 2%;
}
hr{
    
    margin-top: 49%;
    border-color: rgb(228, 228, 228);
}
#boton1{
   position: relative;
   right: 45%;
   margin-top: 1%;
   
 
}
#regresarfirst{
    font-size: 40px;
    border: 5px solid rgb(56, 49, 49);
    padding: 10px;
    background-color: beige;
}

#Moddperso{
    text-align: left;
}
/* para que se vea bonito el form */
.recuadro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 10px rgba(219, 109, 109, 0.5);
    font-size: 32px;
}
/* cuando pides numero en input */
#n1{
    width: 90%;
      padding: 15px;
      font-size: 20px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
}
#n2{
    width: 90%;
      padding: 15px;
      font-size: 20px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
}
/* para cualquier diseno de boton pero predisenado */
#botoncito{
    display: inline-block;
    padding: 7px 20px;
    background-color: rgb(73, 75, 168);
    color: #f4f4f4;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.9s ease-in-out;
    margin-top: 5%;
    margin-bottom: 2%;
    
}
.Respuesta{
    display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 100%;
      margin: 0 auto;
      color:rgb(255, 255, 255);
      font-weight: bold;
      font-size: 25px;
      background-color: rgb(108, 123, 220);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(140, 64, 64, 0.5);
      margin-top: 5%;
}

#operador{
    width: 90%;
      padding: 15px;
      font-size: 20px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
}
#n3{
    width: 90%;
      padding: 15px;
      font-size: 20px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
}
#enunciado{
    width: 90%;
      padding: 15px;
      font-size: 20px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 1px solid #634040;
}